/* start variables */
:root{
    --maincolor: #04aedc ;
    --color-popleft: rgb( 39 , 126 , 152 , 70%); 
    --section-padding: 80px ;
}
/* end variables */
/* start compenents */
.main-heading{
    text-align: center;
    padding: 50px;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -30px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: zahran;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #333;
}
.main-heading h2::before{
    content: "";
    width: 17px;
    position: absolute;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #333;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38.5px;
    z-index: 2;
    background: white;
}
@keyframes zahran {
0%{
    width: 180px;
}
100%{
    width: 50px;
}
}
.main-heading p{
    width: 500px;
    margin: 0 auto 65px auto;
    max-width: 100%;
    color: #777;
    line-height: 1.8;
}
/* end compenents */
/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
ul{
    list-style: none;
}
/* end global rules */
/* start resposive container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* for small screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* for medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* for large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end resposive container */
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
header .container::after{
    content: "";
    position: absolute;
    top: 100%;
    width: calc(100% - 30px);
    height: 1px;
    background-color: white;
}
header .links{
    display: flex;
    align-items: center;
}
header img{
    width: 170px;
}
header ul{
    display: flex;
    margin-right: 45px;
}
.home{
    position: relative;
}
.home::after{
    content: "";
    background-color: #04aedc;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 44px;
    left: 0;
    z-index: 1;
    transition: 0.7s;
}
.home a{
    color: #04aedc;
}
header i{
    color: white;
    box-sizing: content-box;
    padding-left: 20px;
}
.home{
    order: 1;
}
.srv{
    order: 2;
}
.por{
    order: 3;
}
.ab{
    order: 4;
}
.pr{
    order: 5;
}
.cont{
    order: 6;
}
header .search{
    border-left: 1px solid white;
    height: 30px;
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
}
header li{
    font-size: 15px;
    margin-left: 15px;
}
header a:hover{
    color:#04aedc;
}
header .srv:hover ~ .home::after{
    left: 55px;
    width: 62px;   
}
header .por:hover ~ .home::after{
    left: 130px;
    width: 63px;   
}
header .ab:hover ~ .home::after{
    left: 207px;
    width: 45px;   
}
header .pr:hover ~ .home::after{
    left: 265px;   
    width: 50px;
}
header .cont:hover ~ .home::after{
    left: 327px;   
    width: 60px;
}
header li:hover:not(.home) ~ .home a{
    color: white;
}
@media (max-width:770px) {
    .links .hum{
        display: flex;
    }
    .links ul{
        display: none;
    }
    .links .hum:hover +  ul{
        display: flex;
        position: absolute;
        left: 0;
        top: 100%;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0 , 50%) ;
    }
    header ul a{
        padding: 15px;
        display: block;
    }
    .home::after{
        width: 0;
        height: 0;
    }
}
.hum{
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap; 
    margin-right: 40px;
    align-items: center;
    display: none;
}
.hum span{
    width: 100%;
    height: 2px;
    background-color: white;
}
.hum span:nth-child(2){
    width: 75%;
    transition: 0.3s;
}
.hum span:nth-child(3){
    width: 50% ;
    transition: 0.3s;
}
.hum:hover span:nth-child(2),
.hum:hover span:nth-child(3){
    width: 100%;
}
/* end header */
/* start landing */
.landing{
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.landing .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0 , 60%);
}
.landing .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-popleft);
    padding: 50px;
    width: 55%;
    display: flex;
    justify-content: flex-end;
}
.landing .cont{
    max-width: 500px;
}
.landing h2{
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}
.landing p{
    font-size: 14px;
    color: white;
    line-height: 1.8;
}
@media (max-width: 770px) {
    .landing .text{
        width: 100%;
        justify-content: center;
        padding: 30px;
    } 
    .landing .cont{
        width: 100%;
    }
    .landing h2,.landing p{
        text-align: center;
    }
    .arrowl,.arrowr{
        display: none;
    }
}
.arrowr{
    color: #ddd;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.arrowl{
    color: #ddd;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.landing .bullets{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullets div{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border:2px solid #ddd;
    margin-left: 5px; 
}
.bullets .active{
    background-color: var(--maincolor);
    border-color: transparent !important;
}
/* end landing */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width:770px) {
    .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
        grid-column-gap: 45px;
        grid-row-gap: 55px;
    }
}
.services .srv-box {
    display: grid;
    grid-template-areas: " i - h3" "i - p";
}
.services .srv-box i{
    margin-right: 60px;
    grid-area: i;
}
.services .srv-box h3{
    margin-bottom: 25px;
    color: var(--maincolor);
    grid-area: h3;
}
.services .srv-box p{
    line-height: 1.8;
    color: #777;
    grid-area: p;
}
@media (max-width:770px){
    .srv-box{
        display: flex !important;
        flex-direction: column ;
        margin-bottom: 75px;
        text-align: center;
    }
    .services .srv-box i{
        margin-bottom: 35px;
        margin-right: 0;
    }
    .services .srv-box p{
        text-align: center;
        padding: 0 20px;
    }
}
/* end services */
/* start design */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 550px;
    position: relative;
    background-image: url(../images/images\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0 , 60%);
    z-index: 0;
}
.design .image,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
.design img{
    width: 450px;
    position: relative;
    bottom: -150px;
}
.design .text{
    color: white;
    padding: 50px;
    background-color: var(--color-popleft);
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.design .text li{
    padding: 15px;
}
.design .text li::before{
    font-family: 'font awesome 5 free';
    content: '\f108';
    font-weight: 900;
    margin-right: 10px;
}
@media (max-width:770px) {
    .design .image{
        display: none;
    }
}
/* end design */
/* start protofolio */
.portfolio{
    padding-top:var(--section-padding) ;
    padding-bottom: var(--section-padding);
}
.portfolio .container .shuffle{
    display: flex;
    justify-content: center;
    margin-top: -35px;
}
.portfolio .container div ul{
    display: flex;
}
.portfolio .container div ul .active{
    background-color: var(--maincolor);
    color: white;
}
.portfolio .container{
    margin-bottom: 50px;
}
.portfolio .container div ul li{
    padding: 15px 25px;
}
.portfolio .portfolio-cont{
    display: flex;
    flex-wrap: wrap ;
    position: relative;
}
.portfolio .portfolio-cont .box{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-cont::after{
    content: "more";
    padding: 10px 35px;
    color: white;
    background-color: var(--maincolor);
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translatex(-50%);
    text-transform: uppercase;
}
.portfolio .portfolio-cont .box img{
    max-width: 100%;
    transition: 0.5s;
}
.portfolio .portfolio-cont .box div{
    padding: 10px;
    position: absolute;
    bottom: -70px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}
.portfolio .portfolio-cont .box div p{
    color: #04aedc;
}
.portfolio .portfolio-cont .box div h3{
    font-weight: normal;
    color: #333;
}
.portfolio .portfolio-cont .box:hover img{
    transform: rotate(5deg) scale(1.1);
}
.portfolio .portfolio-cont .box:hover div{
    bottom: 0;
}
@media (min-width:770px) {
    .portfolio .portfolio-cont .box{
        width: 50%;
    }   
}
@media (min-width:1200px) {
    .portfolio .portfolio-cont .box{
        width: 25%;
    }
}
@media (max-width:770px){
    .portfolio .container div ul li{
        padding: 10px 15px;
    }
}
/* end protofolio */
/* start video */
.video{
    position: relative;
    margin-top: 50px;
}
.video::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0 , 40%);
    z-index: 0;
}
.video video{
    width: 100%;
}
.video .text{
    width: 100%;
    position: absolute;
    background-color: var(--color-popleft);
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    text-align: center;
    color: white;
}
.video .text h2{
    margin-bottom: 30px;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 30px;
    font-style: 14px;
}
.video .text button{
    color: white;
    text-transform: uppercase;
    background-color: black;
    padding: 10px;
    border: 0;
}
/* end video */
/* start about */
.about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top: -100px;
    max-width: 100%;
}
@media (max-width:770px) {
    .about img{
        bottom: -65px;
        margin-top: -60px;
    }
}
/* end about */
/* start stats */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/pexels-alican-helik-18120614.jpg);
    background-size: cover;
    position: relative;
    z-index: -2;
}
.stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0 , 60%);
    z-index: -1;
}
.stats .container{
    display: flex;
    background-color: rgb(24 87 122);
    flex-wrap: wrap;
}
.stats .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    flex-basis: 100%;
}
.stats .container .box div{
    width: 40px;
    height: 40px;
    clip-path: polygon(25% 0% , 75% 0% , 100% 25% ,100% 75% ,75% 100% ,25% 100% ,25% 100% , 0% 75% , 0% 25% );
    margin-top: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats .container .box h1{
    margin-top: 25px ;
    margin-bottom: 25px;
    font-size: 55px;
}
.stats .container .box p{
    margin-bottom: 40px;
}
@media (min-width:770px) {
    .stats .box{
        flex-basis: 50% !important;
    }   
}
@media (min-width:1200px) {
    .stats .box{
        flex-basis: 25% !important;
    }
}
/* end stats */
/* start teski */
.teski{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.teski .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.teski .container .test ,
.teski .container .skills{
    width: 45%;
}
.teski .container .test{
    position: relative;
    margin-bottom: 100px;
}
.teski .container .test h3 ,
.teski .container .skills h3 {
    text-align: center;
    font-weight: normal;
}
.teski .container .test p ,
.teski .container .skills p{
    margin-top: 30px;
    text-align: center;
    color: #777;
}
.teski .container .test .content{
    margin-top: 25px;
}
.teski .container .test .box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.teski .container .test .box img{
    width: 100px;
    border-radius: 50%;
    margin-right: 40px;
}
.teski .container .test .box .text{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-right: 12px;
}
.teski .container .test .box .text p:first-of-type{
    text-align: left;
    color: black;
    line-height: 1.8;
}
.teski .container .test .box .text p:last-of-type{
    text-align: right;
    color: #aaa;
    margin-top: 10px;
}
.teski .bullets{
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.teski .bullets div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:2px solid #ddd;
    margin-left: 8px; 
}
.teski .active{
    background-color: var(--maincolor);
    border-color: transparent !important;
}
.teski .prog-cont{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.teski .prog-cont h3{
    margin-bottom: 15px;
}
.teski .prog-cont div{
    width: 100%;
    height: 30px;
    background-color: #ddd;

}
.teski .prog-cont div span{
    height: 100%;
    background-color: var(--maincolor);
    display: inline-block;
    position: relative;
}
.teski .prog-cont div span::after{
    content: attr(data-progress);
    color: white;
    padding: 5px 10px;
    position: absolute;
    right: -26px;
    bottom: calc( 100% + 13px);
    background-color: black;
    border-radius: 5px;
}
.teski .prog-cont div span::before{
    content: "";
    border: 8px solid;
    border-color: black transparent transparent;
    right: -8px;
    position: absolute;
    top: -13px;
}
.teski .container .skills .content{
    margin-top: 20px;
}
@media (max-width:992px) {
    .teski .container .test ,
    .teski .container .skills{
       width: 100%;
}
}
@media (max-width:770px) {
    .teski .container .test .box{
        flex-direction: column;
    }
    .teski .container .test .box img{
        margin-right: 0;
    }
    .teski .container .test .box{
        margin-top: 50px;
    }
}
/* end teski */
/* start quote */
.quote{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../images/pexels-asad-photo-maldives-3293148.jpg);
    background-size: cover;
    position: relative;
}
.quote::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0 ;
    background-color: rgb(0, 0, 0 , 60%);
}
.quote .container{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote q{
    text-align: center;
    font-size: 35px ;
}
.quote span{
    font-size: 18px;
    display: block;
    color: #eee;
    margin-top: 20px;
}
/* end quote */
/* start price */
.price{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.price .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
}
.price .plan{
    background-color: #fcfcfc;
}
.price .plan .header{
    border-top: 1px solid var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
}
.price .plan .header p{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.price .plan .header h1{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0 30px 25px;
}
.price .plan .header sup ,
.price .plan .header sub{
    font-weight: normal;
    font-size: 25px;
}
.price .plan .header sup{
    margin-right: 15px;
    position: relative;
    bottom: 20px;
}
.price .plan .header sub{
    margin-left: 10px;
}
.price .plan .body{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--maincolor);
}
.price .plan .body p{
    padding: 20px;
    width: fit-content;
    border-bottom: 1px solid var(--maincolor);
    text-align: center;
}
.price .plan .foot{
    display: flex;
}
.price .plan .foot a{
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid var(--maincolor);
    margin: 20px auto;
}
.price .under{
    margin-top: 70px;
    text-align: center;
}
.price .under p{
    font-size: 22px;
    margin-bottom: 40px;
}
.price .under a{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    background-color: var(--maincolor);
}
/* end price */
/* start email */
.email{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/pexels-eberhard-grossgasteiger-1428277.jpg);
    background-size: cover;
    position: relative;
}
.email::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 , 0 , 0 ,70%);
}
.email .container{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}
.email form{
    display: flex;
    position: relative;
}
.email form input[type=email]{
    border: 1px solid white;
    padding: 20px 20px 20px 60px;
    background: none;
    border-right: none;
    caret-color: var(--maincolor);
    color: white;
}
.email form input[type=submit]{
    color: white;
    background-color: var(--maincolor);
    border: 1px solid white;
    padding: 15px 20px;
    border-left: none;
    text-transform: uppercase;
}
.email form input[type=email]:focus ,
.email form input[type=submit]:focus{
    outline: none;
}
.email form input[type=email]::placeholder{
    color: white;
    position: relative;
    font-weight: bold;
    max-width: 100%;
}
.email form i{
    position: absolute;
    color: white;
    top: 50%;
    left: 20px;
    font-size: 22px;
    transform: translateY(-50%);
}
.email p{
    position: relative;
    color: white;
    margin-left: 50px;
    line-height: 1.8;
}
@media (max-width:991px) {
    .email .container{
        flex-direction: column;
    }
    .email p{
        margin-top: 30px;
        text-align: center;
        margin-left: 0;
    }
}
/* end email */
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
}
.contact .content{
    display: flex;
    justify-content: space-between;
}
.contact .content form{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.contact .content .info{
    flex-basis: 25%;
}
.contact .content form input ,
.contact .content form textarea{
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.contact .content form input:first-of-type{
    margin: 0;
}
.contact .content form input:focus ,
.contact .content form textarea:focus{
    outline: 0;
}
.contact .content form input[type=submit]{
    color: white;
    background-color: var(--maincolor);
    width: 170px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: auto;
}
.contact .content .info{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}
.contact .content .info .numbers{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}
.contact .content .info .numbers h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .content .info .numbers p{
    margin-top: 10px;
    color: #777;
}
.contact .content .info .address{
    display: flex;
    flex-direction: column;
}
.contact .content .info .address h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .content .info .address p{
    margin-top: 10px;
    color: #777;
    font-style: italic;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 1.8;
}
@media (max-width:770px) {
    .contact .content{
        flex-direction: column;
    }
    .contact .content .info{
        order: 1;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }
    .contact .content form{
        order: 2;
    }
    .contact .content form input[type=submit]{
        font-size: 16px;
        width: 170px;
    }
}
/* end contact */
/* start foot */
.footers{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/3.jpg);
    background-size: cover;
    position: relative;
}
.footers::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 , 0 , 0 ,60%);
}
.footers .container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.footers .container img{
    height: 80px;
    margin-top: -40px ;
}
.footers .container .mid h1{
    font-weight: normal;
}
.footers .container .mid span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}
.footers .container .mid div{
    display: flex;
    justify-content: space-around;
}
.footers .container .mid i{
    color: white;
    font-size: 22px;
    margin: 20px 0;
    transition: 0.3s;
}
.footers .container .mid i:hover{
    color: #04aedc;
}
.footers .rights{
    margin-bottom: -40px;
}
/* end footers */